@{ ViewData["Title"] = "Create New Race"; }
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-primary">Ragnar Relay Time Estimator</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <span class="text-secondary">Enter race details</span>
    </div>
  </div>
</div>
<div class="container">
  <section class="container-fluid">
      <form action="/CreateRace" method="POST">
        <div class="form-group">
          <label for="newRaceName">Race Name</label>
          <input type="text" class="form-control" name="newRaceName">
        </div>
        <div class="form-group">
          <label for="newMultiplyer">Race Multiplyer</label>
          <input type="number" step="0.01" value ="1.00" class="form-control" name="newMultiplyer">
        </div>
        <div class="form-group">
          <label for="newStartDate">Start Date</label>
          <input type="date" class="form-control" name="newStartDate">
        </div>
        <div class="form-group">
          <label for="newStartTime">Start Time</label>
          <input type="time" class="form-control" name="newStartTime">
        </div>
        <div class="form-group">
          <label for="newEndTime">End Time</label>
          <input type="time" class="form-control" name="newEndTime">
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="newRaceType" id="newTypeRadio1" value="false"> Road
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="newRaceType" id="newTypeRadio2" value="true"> Trail
          </label>
        </div>
        <div class="form-group">
          <label for="newTeamName">Team Name</label>
          <input type="text" class="form-control" name="newTeamName">
        </div>
        <button class="btn btn-primary" type="submit">Create</button>
      </form>
  </section>
</div>